legacy
output
__pycache__/helpers.cpython-310.pyc
__pycache__/decompose_multiples.cpython-310.pyc
__pycache__/decompose_multiples.cpython-312.pyc
__pycache__/helpers.cpython-310.pyc
__pycache__/helpers.cpython-312.pyc
__pycache__/heritage_from_history.cpython-310.pyc
__pycache__/heritage_from_history.cpython-312.pyc
__pycache__/redo_decompositions.cpython-310.pyc
__pycache__/run_decomp_alice.cpython-310.pyc
__pycache__/run_decomp_alice.cpython-312.pyc
plots/hardness_history_600runs.png
plots/hardness_history_n16_run99.png
plots/interaction_hardnesses.png
plots/n16_100runs_ccdist.png
plots/n64_100runs_ccdist.png
plots/periodogram_n16_run2.png
plots/periodogram_n16_run3.png
plots/temperatures_n16_run2.png
plots/temperatures_n16_run3.png
__pycache__/decompose_multiples.cpython-310.pyc
__pycache__/helpers.cpython-310.pyc
